body{
  background-color: #edf0f5;
}

header{
  background: rgb(77,104,161);
  background: radial-gradient(90deg, rgba(77,104,161,1) 0%, rgba(59,89,152,1) 100%);
  color: #FFF;
  min-height: 100px;
  padding-top: 15px;
  padding-bottom: 4px;
}

header form{
  float: right;
}

header .logo{
  float: left;
  margin: 20px 0;
}

.lbl-signIn{
  display: block;
}

.btn-signIn {
  margin: -7px 0 0 20px;
  background-color: #4267b2;
  border-color: #29487d;
  color: #FFF;
}

.btn-signIn:hover {
  background-color: #365899;
  border-color: #29487d;
  color: #FFF;
}

#email label{
  margin-top: -13px;
}

#email, #email input{
  margin-right: 7px !important;
}

.checkbox-signIn{
  margin-top: 5px !important;
  padding-bottom: 5px;
}

.checkbox-signIn span{
  font-size: 13px;
  color: #9cb4d8;
}

#navbar{
  padding: 0;
}

.page-header {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}

.panel-heading{
  background-color: rgb(77,104,161) !important;
  color: #FFF !important;
}

.bubble{
  position: relative;
  width: 100%;
  min-height: 65px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.bubble:before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #ccc;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -15px;
  left: -15px;
  top: 50%;
}

.bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 16px 15px 0;
  border-color: transparent #fff;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  left: -15px;
  top: 50%;
}

.post-actions{
  margin: 5px;
}

.comment-form{
  margin-bottom: 5px;
}

.comment-form .form-group{
  width: 90%;
}

.comment-form input{
  width: 100% !important;
}

.comment-avatar img{
  width: 40px;
  margin-right: 5px;
  padding-top: 5px;
}

.comment-text{
  padding-top: 5px;
}

.comment-text p{
  margin-bottom: 5px;
}

.comment{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0;
  overflow: auto;
  width: 100%;
}

.friends li{
  list-style: none;
  padding: 0 5px;
  display: inline;
  float: left;
}

.friends img{
  width: 55px;
}

.btn-color{
  background-color: #4267b2;
  border-color: #29487d;
  color: #FFF;
}

.btn-color:hover{
  background-color: #365899;
  color: #FFF;
}

.btn-blue-gradient{
  background: linear-gradient(rgba(77,104,161,1) 0%, rgba(76,107,172,1) 70%);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #29487d;
  border-color: #29487d;
  color: #FFF !important;
}

.btn-blue-gradient:hover{
  background: linear-gradient(rgba(77,104,161,1)0%, rgba(59,89,152,1) 100%);
  color: #FFF;
}

.btn-white-gradient{
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(226,229,235,1) 100%);
  background-color: #FFF;
  box-shadow: inset 0 1px 1px rgba(230,230,230,1);
  border-color: #ccc;
  color: #000;
}

.btn-white-gradient:hover {
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(230,230,230,1) 70%);
  color: #000;
}

.btn-green-gradient {
  background: linear-gradient(#79bc64, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  color: #FFF !important;
}

.btn-green-gradient:hover {
  background: linear-gradient(#67ae55, #578843);
  color: #FFF;
}

.groups img{
  width: 80px;
  float: left;
  margin-right: 15px;
}

.group-item{
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.members .member-row{
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.members img, .members div>div{
  margin-bottom: 5px;
}

.member-row div button {
  margin-bottom: 10px;
}

.profile ul{
  margin-top: 30px;
}

.profile li{
  list-style: none;
  line-height: 1.9em;
}

.photos{
  margin: 0;
  padding: 0;
}

ul.photos li{
  list-style: none;
  float: left;
  margin: 5px 15px 15px 0;
  width: 23%;
}

.photos img{
  width: 100%;
}

footer{
  height: 90px;
  color: #365899;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  margin-top: 30px;
  border-top: 7px solid rgb(77,104,161);
}

/*** MEDIA QUERIES ***/
@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 991px) {
  .form-inline{
    float: none;
    display: block;
    width: fit-content;
    margin-left: 6px;
  }

  .members img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 767px) {
  header .logo {
    display: block;
    float: none;
    width: fit-content;
    margin: 20px auto 40px auto;
  }
  .form-inline{
    float: none;
    display: block;
    width: fit-content;
    margin: auto;
  }

  .checkbox-signIn div{
    margin-left: 25px;
  }

  .btn-signIn {
    margin: 0 0 20px 0px;
  }
}
